@using EmaPosAdminProject.ViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin EmaPos</title>

    <!-- Custom fonts for this template-->
    <link href="~/web_admin/startbootstrap-sb-admin-2-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/web_admin/startbootstrap-sb-admin-2-gh-pages/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin/Index">
                <div class="sidebar-brand-icon">
                    <img src="~/Images/logo-w.png"  width="50px" height="50px" /></i>
                </div>
                <div class="sidebar-brand-text mx-3">EmaPos</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/Admin/Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Anasayfa</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Yönetim</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header text-danger">Ana Sayfa:</h6>
                        <a class="collapse-item" href="/Anasayfa/SliderListe">Slider</a>
                        <a class="collapse-item" href="/Anasayfa/UrunlerListesi">Üst Kategoriler</a>
                        <a class="collapse-item" href="/Anasayfa/BizKimizListe">Biz Kimiz</a>
                        <a class="collapse-item" href="/Anasayfa/BizeUlasinListe">Bize Ulaşın</a>
                        <h6 class="collapse-header text-danger">Kurumsal:</h6>
                        <a class="collapse-item" href="/Kurumsal/HakkimizdaListe">Hakkımızda</a>
                        <a class="collapse-item" href="/Kurumsal/MisyonumuzListe">Misyonumuz</a>
                        <a class="collapse-item" href="/Kurumsal/VizyonumuzListe">Vizyonumuz</a>
                        <h6 class="collapse-header text-danger">--------------------</h6>
                        <a class="collapse-item" href="/Haberler/HaberlerListesi">Haberler</a>
                        <a class="collapse-item" href="/Ortaklar/OrtaklarListesi">Çözüm Ortaklarımız</a>
                        <a class="collapse-item" href="/Referanslar/ReferanslarListesi">Referanslar</a>
                        <a class="collapse-item" href="/Iletisim/IletisimListe">İletişim</a>
                        <h6 class="collapse-header text-danger">--------------------</h6>
                        <a class="collapse-item" href="/Kategori/KategoriListesi">Ürün Kategorileri</a>
                        <a class="collapse-item" href="/Urun/UrunlerListesi">Ürünler</a>
                        <a class="collapse-item" href="/Sektorler/SektorlerListesi">Sektörel Çözümler</a>
                    </div>
                </div>
            </li>

           

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Ayarlar</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        
                        <a class="collapse-item" href="/Kullanici/KullanicilarListesi">Kullanıcılar</a>
                    </div>
                </div>
            </li>

          

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://emapos.com.tr/">
                    <i class="fas fa-fw fa-link"></i>
                    <span>Web Site</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>



        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                  

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Dropdown - Alerts -->
                        

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@EmaPosAdminProject.Controllers.Admin.GirisYapController.nowUser.username</span>
                                <img class="img-profile rounded-circle"
                                     src="~/web_admin/startbootstrap-sb-admin-2-gh-pages/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/Kullanici/SifreDuzenle">
                                    <i class="fas fa-unlock-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Şifre Ayarı
                                </a>
                               
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/GirisYap/LogOut/"  data-target="#logoutModal" onclick = "return confirm('Çıkış yapmak üzeresiniz. Devam edilsin mi?');">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Güvenli Çıkış
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                @RenderBody()

            </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Coded by <a target="_blank" href="https://dinosoft.com.tr/">Dinosoft</a> &copy; EmaPos @DateTime.Now.ToString("yyyy"). Tüm Hakları Saklıdır.</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/web_admin/startbootstrap-sb-admin-2-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="~/web_admin/startbootstrap-sb-admin-2-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/web_admin/startbootstrap-sb-admin-2-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/web_admin/startbootstrap-sb-admin-2-gh-pages/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/web_admin/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/web_admin/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/web_admin/startbootstrap-sb-admin-2-gh-pages/js/demo/datatables-demo.js"></script>

    



</body>

</html>
