@using EmaPosAdminProject.Customs
@using EmaPosAdminProject.Models.Entity
@model user
@{
    ViewBag.Title = "SifreDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Şifre Ayarları</h6>
        <a class="btn btn-primary" href="/Admin/Index">< Geri Dön</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @using (Html.BeginForm("SifreDuzenle", "Kullanici", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <input type="text" class="form-control form-control-user"
                           id="id" name="id"
                           value="@EmaPosAdminProject.Controllers.Admin.GirisYapController.nowUser.id" hidden>
                </div>
                <p class="text-dark">Mevcut Şifre</p>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user"
                           id="nowPassword" name="nowPassword" @*aria-describedby="emailHelp"*@
                           placeholder="" required autofocus>
                </div>
                <p class="text-danger">@ViewBag.message2</p>
                <br />
                <p class="text-dark">Yeni Şifre</p>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user"
                           id="newPassword" name="newPassword" @*aria-describedby="emailHelp"*@
                           placeholder="" required autofocus>
                </div>
                <p class="text-dark">Yeni Şifre Tekrar</p>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user"
                           id="newPassword2" name="newPassword2" @*aria-describedby="emailHelp"*@
                           placeholder="" required autofocus>
                </div>
                <p class="text-danger">@ViewBag.message</p>
                <br />
                @Html.Submit("Değiştir", new { @class = "btn btn-success", onclick = "return confirm('Şifrenizi değiştirmek üzeresiniz. Devam edilsin mi?')" })
                <a class="btn btn-primary" href="/Admin/Index">< Geri Dön</a>

            }

        </div>
    </div>
</div>

