@using EmaPosAdminProject.Models.Entity
@model List<category>
@{
    ViewBag.Title = "Hardware";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header Start -->
<div class="container-fluid page-header" style="height: 250px;">
    <div class="container" style="height: 250px;">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 250px;">
            <h3 class="display-4 text-white text-uppercase">DONANIM</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="/Home/Index">Ana Sayfa</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">DONANIM</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!--Products Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h2 class="text-primary text-uppercase" style="letter-spacing: 6px;"></h2>
            <h1></h1>
        </div>
        <div class="row">
            @foreach (var x in Model)
            {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="~/Images/Category/@x.image" alt="" width="400px" ; height="400px" ;>
                    <a class="destination-overlay text-white text-decoration-none" href="/Home/Products/@x.id">
                        <h5 class="text-white">@x.name</h5>
                        <span></span>
                    </a>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<!-- Products End -->
