@using EmaPosAdminProject.Customs
@using EmaPosAdminProject.Models.Entity
@model newsImage
@{
    ViewBag.Title = "GorselGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Görsel Düzenleme</h6>
        <a class="btn btn-primary" href="/Haberler/GorsellerListesi/@Model.newsId">< Geri Dön</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @using (Html.BeginForm("GorselGuncelle", "Haberler", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.TextBoxFor(x => x.id, new { @class = "form-control", required = "true", name = "newsId", type = "hidden" })
                <p class="text-dark">Mevcut Görsel</p>
                <img src="~/Images/News/@Model.image" style="width: 200px; height: 200px;" />
                <br />
                <br />
                <p class="text-dark">Yeni Görsel</p>
                @Html.TextBoxFor(x => x.image, new { @class = "form-control", type = "file", accept = ".jpg,.png,.gif,.JPEG,.jpeg", name = "image", onchange = "PreviewImage();", id = "uploadImage" })
                <br />
                <img id="uploadPreview" style="width: 200px; height: 200px;" />
                <script type="text/javascript">

                    function PreviewImage() {
                        var oFReader = new FileReader();
                        oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

                        oFReader.onload = function (oFREvent) {
                            document.getElementById("uploadPreview").src = oFREvent.target.result;
                        };
                    };

                </script>
                <br />
                <br />
                @Html.Submit("Güncelle", new { @class = "btn btn-success" })
                <a class="btn btn-primary" href="/Haberler/GorsellerListesi/@Model.newsId">< Geri Dön</a>

            }
        </div>
    </div>
</div>

